  $scale: 1.33; 
  
  $p-size: 1rem; // = 16px
  $h6-size: calc($p-size * $scale); // 1.33 = 1.3 = 20.8px
  $h5-size: calc($h6-size * $scale); // 1.7689 = 1.8 = 28.8px
  $h4-size: calc($h5-size * $scale); // 2.352637 = 2.4 = 38.4px
  $h3-size: calc($h4-size * $scale); // 3.12900721 = 3.1 = 49.6px
  $h2-size: calc($h3-size * $scale); // 4.161579589 = 4.2 = 67.2px
  $h1-size: calc($h2-size * $scale); // 5.534900854 = 5.5 = 88px
