/* Error: Undefined mixin.
 *    ,
 * 41 | /     @include breakpoint($medium) {
 * 42 | |       justify-self: end;
 * 43 | |       margin-right: 1rem;
 * 44 | \     }
 *    '
 *   src/sass/critical/_header.scss 41:5  @import
 *   src/sass/critical.scss 15:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 41 \2502  \250c      @include breakpoint($medium) {\a 42 \2502  \2502        justify-self: end;\a 43 \2502  \2502        margin-right: 1rem;\a 44 \2502  \2514      }\a    \2575 \a   src/sass/critical/_header.scss 41:5  @import\a   src/sass/critical.scss 15:9          root stylesheet";
}
