.createcourse {
  position: relative;
}

.header {
  @extend %inner-header;
}

.form {
  @extend %form;
  &-input {
    &-text {
      @extend %form-input-text;
      width: 85%;
    }
    &-label {
      @extend %form-input-label;
    }
    &-clear {
      @extend %form-input-text;
      padding-left: 0px;
      padding-right: 0px;
      width: 10%;
      text-align: center;
    }
  }
  &-response {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 28.8px;
    justify-items: center;
  }
  &-submit {
    @extend %form-input-button;
    @extend %box-shadow;
    width: 100%;
    align-self: center;
  }
  &-holes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 28.8px;
    justify-items: center;
    padding: 16px;
    border-top: 1px solid setcolor(blue, base);
    border-bottom: 1px solid setcolor(blue, base);
    &-question {
      grid-column: 1 / 3;
      line-height: $h4-size;
      font-size: $h5-size;
      font-weight: 700;
      text-align: center;
      &-italics {
        font-size: $h4-size;
        font-style: italic;
        color: setcolor(blue, base);
      }
    }
    &-radio {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 38.4px 1fr;
      align-items: center;
      font-size: $h5-size;
    }
  }
}

.success {
  @extend %dialog-success;
  &-button {
    @extend %form-input-button;
    margin-top: 16px;
    width: 100%;
  }
}

.exists {
  @extend %dialog-success;
  &-button {
    @extend %form-input-button;
    margin-top: 16px;
    width: 100%;
  }
}

input[type="radio"] {
  width: 28.8px;
  height: 28.8px;
}

input[type="text"]:focus {
  border: 1px solid setcolor(green, dark25);
}

// for exists box
dialog.exists {
  @extend %dialog-success;
}
@keyframes show {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

// for success box
dialog.success {
  @extend %dialog-success;
}
@keyframes show {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}