.createplayer {
  grid-template-rows: max-content 15vh;
  &-header {
    @extend %inner-header;
  }
  &-form {
    @extend %form;
    &-input {
      &-text {
        @extend %form-input-text;
      }
      &-label {
        @extend %form-input-label;
      }
    }
    &-submit {
      @extend %form-input-button;
      @extend %box-shadow;
    }
  }
  &-exists {
    @extend %dialog-success;
    &[open] {
      margin: auto;
    }
    &-button {
      @extend %form-input-button;
      margin-top: 16px;
      width: 100%;
    }
  }
  &-success {
    @extend %dialog-success;
    &[open] {
      margin: auto;
    }
    &-button {
    @extend %form-input-button;
    margin-top: 16px;
    width: 100%;
    }
  }
}

// for success & exists box
@keyframes show {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

// for backdrop
keyframes show-backdrop {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}