.listcourses {
  position: relative;
  row-gap: 28.8px;
}

.header {
  @extend %inner-header;
}

.items {
  @extend %list-main;
}

.item {
  @extend %list-item;
  grid-template-columns: 1fr 0.5fr 0.3fr;
  &-name {
    @extend %list-name;
    font-weight: 700;
  }
  & svg {
    @extend %list-svg;
  }
  &-delete {
    @extend %list-delete-text;
  }
  &-scored {
    grid-column: 1 / 4;
    font-size: typesize($size-scale, "five");
    padding-top: 16px;
  }
}

.modal {
  @extend %dialog-success;
  padding: 0px;
  &-header {
    @extend %modal-header;
    font-size: typesize($size-scale, "five");
  }
  &-warning {
    width: 100%;
    padding: 16px;
    text-align: center;
    font-size: typesize($size-scale, "five");
    line-height: $h5-size;
    color: setcolor(black, base);
    &-name {
      font-weight: 700;
      color: setcolor(black, base);
    }
  }
  &-choices {
    @extend %form-input-button;
    margin-bottom: 16px;
    width: 85%;
    padding: 16px;
    line-height: calc($h5-size * $scale);
    font-size: typesize($size-scale, "five");
    color: setcolor(green, dark35);
  }
  &-deleted {
    transform: translateX(100vw);
    transition: transform 1s cubic-bezier(0.350, 0.010, 0.430, 0.930) 0s;
  }
}

// rounds conflict dialog animation
@keyframes show {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}