.listcourses {
  position: relative;
  row-gap: $h5-size;
}

// .list-courses {
//   row-gap: $h5-size;
// }

.header {
  @extend %inner-header;
}

.items {
  @extend %list-main;
}

.item {
  @extend %list-item;
  grid-template-columns: 1fr 0.5fr;
  &-name {
    @extend %list-name;
    font-weight: 700;
  }
  & svg {
    @extend %list-svg;
  }
  &-delete {
    @extend %list-delete-text;
  }
}

.modal {
  @extend %modal;
  grid-template-rows: 12% 20% max-content max-content;
  row-gap: $h5-size;
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  width: 100%;
  top: 0vh;
  &-header {
    @extend %modal-header;
    font-size: $h5-size;
  }
  &-warning {
    width: 85%;
    justify-self: center;
    align-self: center;
    font-size: $h6-size;
    line-height: $h5-size;
    &-name {
      font-weight: 700;
    }
  }
  &-choices {
    @extend %form-input-button;
    width: 85%;
    padding: $p-size;
    justify-self: center;
    line-height: calc($h5-size * $scale);
    font-size: $h6-size;
    color: setcolor(green, dark35);
  }
  &-open {
    @extend %modal-display;
    transform: translateX(-105vw);
  }
  &-deleted {
    @extend %modal;
    padding: $p-size;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    row-gap: $h5-size;
    width: 90%;
    height: 25vh;
    align-items: center;
    justify-items: center;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    & p {
      font-size: $h6-size;
    }
    &-button {
      width: 85%;
    }
    &-open {
      @extend %modal-display;
    }
    &-button {
      @extend %form-input-button;
    }
  }
}