.roundsetup {
  display: grid;
  grid-template-rows: repeat(3, 30%);
  row-gap: 28.8px;
  align-items: center;
  position: relative;
}

.modal {
  &-nocourse {
    @extend %modal;
    height: 30vh;
    padding: 16px;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    & p {
      font-size: $h6-size;
    }
    &-link {
      @extend %form-input-button;
      font-size: $h5-size;
      text-decoration: none;
    }
    &-display {
      @extend %modal-display;
      grid-template-rows: repeat(2, 50%);
      align-items: center;
    }
  }
  &-courses {
    @extend %modal;
    grid-template-rows: auto 1fr auto;
    row-gap: 16px;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    &-header {
      @extend %modal-header;
    }
    &-choice {
      height: 2rem;
      width: 85%;
      justify-self: center;
      border: 1px solid setcolor(blue, base);
      border-radius: 4px;
      & p {
        line-height: 2rem;
      }
    }
    &-list {
      @extend %modal-list;
      overflow-y: scroll;
    }
    &-item {
      @extend %modal-list-item;
      & > input[type="radio"] {
        @extend %modal-list-item-radio;
        &::before {
          @extend %modal-list-item-before;
        }
        &:checked::before {
          transform: scale(1);
        }
      }
    }
    &-footer {
      @extend %modal-footer;
      &-close {
        &-icon {
          @extend %modal-footer-svg;
          stroke: setcolor(red, dark15);
          grid-column: 1 / 2;
        }
        &-text {
          @extend %modal-footer-text;
          grid-column: 2 / 3;
          justify-self: start;
        }
      }
      &-save {
        &-icon {
          @extend %modal-footer-svg;
          grid-column: 4 / 5;
          border: 1px solid setcolor(green, base);
          fill: setcolor(green, base);
        }
        &-text {
          @extend %modal-footer-text;
          color: setcolor(green, base);
          grid-column: 3 / 4;
        }
      }
    }
    &-display {
      @extend %modal-display;
    }
  }
  &-players {
    @extend %modal;
    grid-template-rows: auto 112px 1fr auto;
    row-gap: 16px;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    overflow-y: scroll;
    &-header {
      @extend %modal-header;
    }
    &-explain {
      width: 85%;
      padding: 16px;
      justify-self: center;
      text-align: center;
      font-weight: 700;
      border: 1px solid setcolor(blue, base);
      border-radius: 4px;
      background-color: rgba(setcolor(blue, base), 0.15);
    }
    &-list {
      @extend %modal-list;
      overflow-y: scroll;
    }
    &-item {
      @extend %modal-list-item;
      & > input[type="checkbox"] {
        @extend %modal-list-item-radio;
        &::before {
          @extend %modal-list-item-before;
        }
        &:checked::before {
          transform: scale(1);
        }
      }
    }
    &-footer {
      @extend %modal-footer;
      &-close {
        &-icon {
          @extend %modal-footer-svg;
          stroke: setcolor(red, dark15);
          grid-column: 1 / 2;
        }
        &-text {
          @extend %modal-footer-text;
          grid-column: 2 / 3;
          justify-self: start;
        }
      }
      &-save {
        &-icon {
          @extend %modal-footer-svg;
          grid-column: 4 / 5;
          border: 1px solid setcolor(green, base);
          fill: setcolor(green, base);
        }
        &-text {
          @extend %modal-footer-text;
          color: setcolor(green, base);
          grid-column: 3 / 4;
        }
      }
    }
    &-display {
      @extend %modal-display;
    }
  }
}

.content {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr max-content;
  row-gap: 16px;
  justify-items: center;
  align-items: center;
  &-results {
    width: 100%;
    border: 1px solid setcolor(green, base);
    border-radius: 4px;
  }
}

.selections {
  &-course {
    text-align: center;
    padding: 16px 0px;
    font-size: $h5-size;
  }
  &-players {
    text-align: center;
    padding: 16px 0px;
    font-size: $h5-size;
  }
}

.button {
  @extend %form-input-button;
  padding: 0px 16px;
  font-size: $h5-size;
}