.roundhistory {
  position: relative;
  row-gap: 28.8px;
  grid-template-rows: auto auto 1fr;
}

.header {
  @extend %inner-header;
}

.choose {
  padding: 28.8px 16px 0px 16px;
  border: 1px solid setcolor(blue, base);
  border-radius: 0.5rem;
}

.button {
  @extend %form-input-button;
  width: 100%;
  margin-bottom: 28.8px;
  line-height: $h3-size;
  font-size: $h6-size;
}

.rounds {
  @extend %list-main;
}

.course {
  display: none;
  &-visible {
    display: grid;
    row-gap: 20.8px;
  }
}

.warning{
  font-size: $h6-size;
  text-align: center;
  &-link {
    text-decoration: none;
    @extend %form-input-button;
    max-height: 49.6px;
    font-size: $h5-size;
    text-align: center;
  }
}

.stats {
  @extend %form-input-button;
  line-height: calc($h6-size * $scale);
  font-size: $h6-size;
  text-decoration: none;
  text-align: center;
  padding: 16px;
  border: 1px solid setcolor(blue, dark35);
  @extend %box-shadow;
}

.round {
  display: grid;
  grid-template-rows: max-content;
  border-radius: 4px;
  border: 1px solid setcolor(blue, base);
  @extend %box-shadow;
  &-header {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 16px;
    border-bottom: 1px solid setcolor(blue, dark25);
    background-color: rgba(setcolor(blue, base), 0.15);
    font-size: $h5-size;
    font-weight: 700;
    text-align: center;
    &-name {
      font-size: $h4-size;
    }
  }
  &-name {
    margin-top: 16px;
    padding-left: 16px;
    font-size: $h5-size;
  }
  &-score {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
    padding: 0px 16px 16px 16px;
    font-size: $h6-size;
  }
  &-arrow {
    justify-self: flex-end;
    font-size: $h6-size;
    padding: 16px;
    margin: 0px 16px 16px 0px;
    border: 1px solid setcolor(blue, base);
    border-radius: 4px;
    @extend %box-shadow;
    &:active {
      background: linear-gradient(rgba(setcolor(blue, light25), 0.25), rgba(setcolor(blue, light15), 0.35));
    }
  }
  &-modal {
    @extend %modal;
    position: fixed;
    grid-template-rows: max-content max-content 1fr;
    width: 90%;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    &-open {
      @extend %modal-display;
    }
    &-header {
      @extend %modal-header;
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      justify-content: space-between;
      & p:first-of-type {
        font-size: $h5-size;
      }
    }
    &-closing {
      @extend %modal-closing;
    }
    &-close {
      @extend %modal-close-button;
      &:active {
        background: linear-gradient(rgba(setcolor(blue, light25), 0.25), rgba(setcolor(blue, light15), 0.35));
      }
    }
    &-holes {
      display: grid;
      row-gap: 16px;
      padding: 16px 16px;
      overflow-y: scroll;
    }
    &-hole {
      display: grid;
      grid-template-columns: .85fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 8px;
      align-items: center;
      padding: 16px;
      font-size: $h5-size;
      font-weight: 700;
      background-color: setcolor(white, light75);
      border-radius: 0.25rem;
      border: 1px solid setcolor(blue, base);
      & :nth-of-type(1) { // hole number
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: center;
        font-size: $h4-size;
        font-weight: 700;
      }
      & :nth-of-type(2) { // hole par
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 8px 0px 8px 0px;
        border-radius: 8px;
        font-size: $h6-size;
      }
      & :nth-of-type(3) { // hole throws
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        padding: 8px 0px 8px 0px;
        border-bottom: 1px solid setcolor(blue, base);
        font-size: $h6-size;
      }
      & :nth-of-type(4) { // round score
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding: 8px 0px 8px 0px;
        font-size: $h6-size;
      }
    }
  }
}

.scroller-modal {
  @extend %scroller-modal;
  &-visible {
    @extend %scroller-modal-visible;
  }
}

