.roundhistory {
  position: relative;
  row-gap: $h5-size;
  grid-template-rows: auto auto 1fr;
}

.header {
  @extend %inner-header;
}

.choose {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $p-size;
}

.button {
  @extend %form-input-button;
  line-height: $h4-size;
  font-size: $h6-size;
  &:last-of-type {
    grid-column: 1 / 3;
    justify-self: center;
  }
}

.items {
  @extend %list-main;
}

.course {
  display: none;
  &-visible {
    display: grid;
    row-gap: $p-size;
  }
}

.warning{
  font-size: $h6-size;
  text-align: center;
  &-link {
    text-decoration: none;
    @extend %form-input-button;
    max-height: $h3-size;
    font-size: $h5-size;
    text-align: center;
  }
}

.stats {
  @extend %form-input-button;
  line-height: calc($h6-size * $scale);
  font-size: $h6-size;
  text-decoration: none;
  text-align: center;
  padding: $p-size;
  @extend %box-shadow;
}

.round {
  display: grid;
  border-radius: 0.25rem;
  border: 1px solid setcolor(blue, base);
  @extend %box-shadow;
  &-header {
    padding: $h5-size $p-size;
    border-bottom: 1px solid setcolor(blue, dark25);
    background-color: rgba(setcolor(blue, base), 0.15);
    font-size: $h5-size;
    font-weight: 700;
    & span {
      float: right;
      font-size: $p-size;
      font-weight: 700;
    }
  }
  &-name {
    margin-top: $p-size;
    padding-left: $p-size;
    font-size: $h5-size;
  }
  &-score {
    margin-top: $p-size;
    padding-left: $p-size;
    padding-bottom: $p-size;
    font-size: $h5-size;
  }
}
