.statistics {
  position: relative;
}

.courses {
  display: grid;
  row-gap: $p-size;

}

.course {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  row-gap: $p-size;
  align-items: center;
  justify-items: center;
  line-height: $h3-size;
  padding: $p-size;
  border-radius: 0.25rem;
  border: 1px solid setcolor(blue, base);
  @extend %box-shadow;
  & p {
    grid-column: 1 / 3;
    font-size: $h4-size;
  }
  & [data-choice="round"] {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    @extend %form-input-button;
    font-size: $p-size;
    width: 90%;
  }
  & [data-choice="holes"] {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    @extend %form-input-button;
    font-size: $p-size;
    width: 90%;
  }
}

.graph {
  @extend %modal;
  @extend %modal-statistics;
  &-header {
    @extend %modal-header;
    &-text {
      @extend %modal-header-text;
    }
  }
  &-closing {
    @extend %modal-closing;
  }
  &-close {
    @extend %modal-close-button;
  }
  // https://joshcollinsworth.com/blog/css-grid-bar-charts
  &-chart {
    @extend %modal-chart;
    overflow-y: scroll;
    &-hole {
      display: grid;
      grid-template-columns: auto;
      grid-auto-columns: 1fr;
      gap: 1.5em 0;
      align-items: center;
      padding-bottom: 1.5rem;
      border-radius: 0.65rem;
      border: 1px solid setcolor(blue, base);
      background-color: rgba(setcolor(blue, base),0.15);
      @extend %box-shadow;
      &-name {
        display: flex;
        justify-content: space-between;
        padding: 0.75rem;
        font-size: $h4-size;
        font-weight: 700;
        border-bottom: 1px solid setcolor(blue, base);
        line-height: $h4-size;
        &-par {
          text-align: right;
        }
      }
      & p:nth-child(n+2):nth-child(-n+4) {
        grid-column-start: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.5rem;
        font-size: $h6-size;
        font-weight: 700;
        line-height: $h3-size;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        background-color: rgba(setcolor(blue, base),0.55);
      }
    }
  }
  &-display {
    @extend %modal-display;
  }
}

.round {
  @extend %modal;
  @extend %modal-statistics;
  &-header {
    @extend %modal-header;
    &-text {
      @extend %modal-header-text;
    }
  }
  &-closing {
    @extend %modal-closing;
  }
  &-close {
    @extend %modal-close-button;
  }
  // https://joshcollinsworth.com/blog/css-grid-bar-charts
  &-chart {
    @extend %modal-chart;
    border-left: 1px solid setcolor(blue, dark50);
    & p {
      grid-column-start: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.5rem;
      font-size: $h6-size;
      font-weight: 700;
      line-height: $h3-size;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      background-color: rgba(setcolor(blue, base),0.55);
    }
  }
  &-display {
    @extend %modal-display;
  }
}