---
  layout: layouts/base-template.njk
  title: Adjust Course Pars
  permalink: "/pages/adjustpars.html"
---
<section class="list"></section>
<p class="success">Success!!</p>
<button class="submit" type="button">All Set! ➤</button>