---
  layout: layouts/base-template.njk
  title: Adjust Course Pars
  permalink: "/pages/adjustpars.html"
---

<h2 class="name"></h2>
<section class="list"></section>
<dialog class="success">Success!!</dialog>
<button class="submit" type="button">All Set! ➤</button>