---
layout: layouts/base-template.njk
title: Create DiscKeeper Player
permalink: "/pages/createplayer.html"
---
<form class="createplayer-form">
  <div class="createplayer-form-input">
    <input type="text" name="playerNameFirst" id="playerNameFirst" class="createplayer-form-input-text" required>
    <label for="playerNameFirst"  class="createplayer-form-input-label">First Name:</label>
  </div>
  <div class="createplayer-form-input">
    <input type="text" name="playerNameLast" id="playerNameLast" class="createplayer-form-input-text" required>
    <label for="playerNameLast"  class="createplayer-form-input-label">Last Name:</label>
  </div>
  <button type="submit" class="createplayer-form-submit">Submit ➤</button>
</form>

<!-- succes dialog -->
<dialog class="createplayer-success">Success!!<br />
  <button class="createplayer-success-button">Got It!</button>
</dialog>

<!-- already exists dialog  -->
<dialog class="createplayer-exists">This Player Already Exists<br />
  <button class="createplayer-exists-button">Got It!</button>
</dialog>