---
layout: layouts/base-template.njk
title: Create Disckeeper Course
permalink: "/pages/createcourse.html"
---

<form class="form">
  <div class="form-input">
    <input type="text" name="courseName" class="form-input-text" required>
    <input type="reset" value="X" alt="Clear the search form" class="form-input-clear">
    <label for="courseName"  class="form-input-label">Course Name:</label>
  </div>
  <div class="form-holes">
    <p class="form-holes-question">How Many Holes Are There?</p>
    <label class="form-holes-radio" for="9">
      <input type="radio" name="holeradio" value="9">
      9 Holes
    </label>
    <label class="form-holes-radio" for="18">
      <input type="radio" name="holeradio" value="18">
      18 Holes
    </label>
  </div>
  <div class="form-response">
    <p class="form-holes-question">Are *all* the holes Par 3?</p>
    <button type="submit" class="form-submit" value="samepar">Yes, Submit ➤</button>
    <p class="form-holes-question">Or do you need to <span class="form-holes-question-italics">customize the pars</span> for some of the holes?</p>
    <button type="submit" class="form-submit" value="differentpar">Yes, Customize ➤</button>
  </div>
</form>
<p class="success">Success!!</p>
<p class="exists">This course already exists!</p>