---
  layout: layouts/base-template.njk
  title: Saved DiscKeeper Courses
  permalink: "/pages/listcourses.html"
---

<!-- want to delete rounds from deleting course? -->
<div class="list-courses-modal">
  <h4 class="list-courses-modal-header">Saved Rounds Conflict</h4>
  <p class="list-courses-modal-warning">You have saved round(s) for the <span class="list-courses-modal-warning-name"></span> course.<br/><br />Are you sure you want to nuke everything?</p>
  <button class="list-courses-modal-choices" data-options="yes">Yes!</button>
  <button class="list-courses-modal-choices" data-options="no">No, my mistake.</button>
</div>

<!-- successful deletion -->
<div class="list-courses-modal-deleted">
  <p>You successfully deleted <span class="list-courses-modal-deleted-name"></span></p>
  <button class="list-courses-modal-deleted-button">Got It!</button>
</div>

<!-- course list -->
<section class="list-courses-items"></section>

<div class="list-scroller"><p>top</p></div>