---
  layout: layouts/base-template.njk
  title: Saved DiscKeeper Courses
  permalink: "/pages/listcourses.html"
---

<!-- course list -->
<section class="items"></section>

<!-- want to delete rounds from deleting course? -->
<dialog class="modal">
  <h4 class="modal-header">Saved Rounds Conflict</h4>
  <p class="modal-warning">You have saved round(s) for the <span class="modal-warning-name"></span> course.<br/><br />Are you sure you want to nuke everything?</p>
  <button class="modal-choices" data-options="yes">Yes!</button>
  <button class="modal-choices" data-options="no">No, my mistake.</button>
</dialog>

{% include "components/scroll-button.njk" %}