---
  layout: layouts/base-template.njk
  title: DiscKeeper Scorekeeping
  permalink: "/pages/roundhistory.html"
---

<a href="/pages/statistics.html" class="stats">Check out cool graphs of your course statistics! ➤</a>

<section class="choose"></section>

<section class="items"></section>

<div class="round-modal">
  <div class="round-modal-header"></div>
  <button class="round-modal-close">Close</button>
  <div class="round-modal-holes"></div>
</div>

{% include "components/scroll-button.njk" %}