---
  layout: layouts/base-template.njk
  title: Saved DiscKeeper Courses
  permalink: "/pages/statistics.html"
---

<!-- course list -->
<section class="courses"></section>

<!-- hole-by-hole chart -->
<div class="holes">
  <div class="holes-header"></div>
  <div class="holes-closing">
    <p class="holes-close">Close</p>
  </div>
  <div class="holes-chart"></div>
  {% include "components/scroll-button-modal.njk" %}
</div>

<!-- course chart-->
<div class="course">
  <div class="course-header"></div>
  <div class="course-closing">
    <p class="course-close">Close</p>
  </div>
  <div class="course-chart"></div>
</div>
