---
  layout: layouts/base-template.njk
  title: Saved DiscKeeper Courses
  permalink: "/pages/statistics.html"
---

<!-- course list -->
<section class="courses"></section>

<!-- hole-by-hole chart -->
<div class="graph">
  <div class="graph-header"></div>
  <div class="graph-chart"></div>
</div>

<!-- round chart-->
<div class="round">
  <div class="round-header"></div>
  <div class="round-chart"></div>
</div>

{% include "components/scroll-button.njk" %}