---
  layout: layouts/inner.njk
  title: Saved DiscKeeper Courses
  permalink: "/pages/statistics.html"
---

<!-- course list -->
<section class="statistics-courses"></section>

<!-- hole-by-hole chart -->
<div class="statistics-graph">
  <div class="statistics-graph-header"></div>
  <div class="statistics-graph-chart"></div>
</div>

<!-- round chart-->
<div class="statistics-round">
  <div class="statistics-round-header"></div>
  <div class="statistics-round-chart"></div>
</div>

<div class="list-scroller"><p>top</p></div>